<div class="container-fluid col-lg-12 text-center">
	<h1><timer autostart="false">Elapsed: {{seconds}}</timer></h1>
</div>
<div class="container-fluid col-md-6 text-center">		
	<h1>{{userName}}</h1>
	<div>
		<div>
			<h2><span ng-repeat='letter in textStorage' ng-class="{myRed: letter.color === 'red', myBlack: letter.color === 'black', myGreen: letter.color === 'green'}">{{letter.letter}}</span></h2>
		</div>

		<div class="input-group text-center displayBlock">
			<h1>Your current WPM: {{WPM}}</h1>
			<progressbar max="100" value="completionRate"></progressbar>
			<input class="form-control input-lg" type="text" placeholder="Click here to start" ng-model="inputText" ng-change="checkColor(inputText); checkCompletion(inputText)" ng-click="startTimer()" >
		</div>
	</div>
</div>
	
<!--******************************************************  -->

	<div class="container-fluid col-md-6 text-center">
		<h1>{{enemy.name}}</h1>
		<div>
			<div>
				<h2><span ng-repeat='letter in enemy.text' ng-class="{myRed: letter.color === 'red', myBlack: letter.color === 'black', myGreen: letter.color === 'green'}">{{letter.letter}}</span></h2>
			</div>

			<div class="input-group text-center displayBlock">
				<h1>Other player's WPM: {{enemy.wpm}}</h1>
				<progressbar max="100" value="enemy.completion"></progressbar>
			</div>
		</div>
	</div>